@import 'src/assets/stylesheets/color';

/* best seller */
img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.box {
  background: $brokenwhite;
  padding: 5px;
  margin-bottom: 12px;
}

.box-detail {
  height: 65px;
}
