<div class="container c-gold">
    <div class="body" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-md="45" fxFlex.md="45"
            fxFlex.lt-md="100">
            <img src="https://images.unsplash.com/photo-1487530811176-3780de880c2d?ixlib=rb-0.3.5&s=af1fd42fb4eac5f361ae1b544f31a5fc&auto=format&fit=crop&w=500&q=80"
                alt="rose" style="width: 90%; height: auto;">
        </div>
        <div fxLayout="column" fxFlex.gt-md="50" fxFlex.md="50" fxFlex.lt-md="100">
            <h2 class="title" style="text-align: center">Flower 4</h2>
            <span style="text-align: justify; line-height: 25px;">
                Our flower team love to come up with fresh (and gorgeous!) new creations for these
                limited edition bouquets, made from a selection of favourite stems
                and updated often. Each design is fresh-in and only available for
                a short time, so snap yours up while you can.

                <ul>
                    <li>This design, with sunny yellow roses, soft cream stocks and
                        long-lasting alstroemeria, available for deliveries until
                        Saturday 15th September.</li>
                    <li>You can select a later date, and the latest design at the
                        time of delivery will be sent. The different images represent
                        the typical style and size of the Flower Team's Pick as it
                        changes through new seasons and designs.</li>
                    <li>Delivered through the door in our bespoke letterbox packaging,
                        with a gift card including your personal message</li>
                    <li>Carefully packed by hand, and delicate blooms are individually
                        netted
                    </li>
                    <li>Choose free next day delivery via Royal Mail Tracked or upgrade
                        to Premium Delivery for improved tracking and reliability.</li>
                    <li>Note, each stem is unique and seasonal, so on rare occasion
                        colours may vary or we'll substitute stems to give you the
                        highest quality bouquet.</li>
                </ul>
            </span>
        </div>
    </div>

</div>