<div class="container body c-gold" fxLayout="row" fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="40">
        <img src="/src/assets/images/rose.jpg" alt="rose" style="width: 100%; height: auto;">
    </div>
    <div fxLayout="column" fxFlex="60">
        <h2 style="text-align: center">Title</h2>
        <span style="text-align: justify">
            Lorem ipsum dolor sit amet, id essent democritum contentiones cum, eu consetetur
            scribentur pri. Tritani insolens concludaturque ex nec, nullam convenire
            adolescens in quo, decore imperdiet sea cu. Sed putant eirmod dissentias
            ei. Fuisset conclusionemque ne cum, quo quis tractatos neglegentur in,
            adipisci cotidieque et eum. Ne modus qualisque definiebas sit, errem
            singulis hendrerit in nec. Est et legere saperet mentitum, in tollit
            graeci molestie pro. Eu brute liber admodum vim, no cum idque novum elitr.
            Liber vivendum necessitatibus ius ex, adipisci recteque nam ex, ne errem
            veritus sit. Amet libris id his. Ex munere facilisis eam. At mea quis
            dicant quidam, nam debet semper corrumpit ea. Audiam dissentiunt cu sea.
            Nam quas libris definitiones in. Rebum laudem verear pro ne. Eu duo dicat
            movet. Est in cibo nominavi, amet eius singulis vel at. Ei tollit deserunt
            splendide eum. Mea id partem vivendo. Lorem omittam ut mea, nam ea mundi
            choro. Ea vel quot velit consequat, mucius vidisse debitis has ea. At
            cibo omnium sed, per sonet facilisis ne, usu te nusquam voluptaria scripserit.
            Alia lorem id ius, in quis dignissim qui, at mei dolore qualisque periculis.
            Ex viris noster mei. Errem tollit aeterno pri eu, vel id zril tempor
            eripuit. Possit vulputate intellegebat ius ea, vel veri essent ad.
        </span>
    </div>
</div>