<div class="container nav" [class.scrolled]="scrolled" fxLayout="column" fxLayout.lt-md="row"
    fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-between" style="box-shadow: 0px 2px 0px rgb(197, 162, 110)">
    <div class="header c-gold fs-35" fxLayoutAlign.lt-md="start center" style="letter-spacing: 1.5px;">
        <a routerLink="">Fleur de DC</a>
    </div>
    <div id="navigation" fxHide.lt-md class="navigation" fxLayout="row" fxLayoutAlign="space-between center">
        <nav fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.sm="end center" fxLayoutGap="3%"
            fxLayoutGap.sm="2%">
            <a routerLink="/flowers/bouquet">BOUQUET</a>
            <a routerLink="flowers/vase">VASE</a>
            <a routerLink="flowers/seasonal">SEASONAL</a>
            <a routerLink="/subscriptions">FLOWER SUBSCRIPTIONS</a>
            <a routerLink="/workshop">WORKSHOPS</a>
        </nav>
    </div>

    <div fxHide.gt-sm fxFlex class="sidenav" fxLayoutAlign="end center" mode="push">
        <div class="hamburger-button" [ngClass]="{'open':hamburger}" (click)="hamburger = !hamburger">
            <span></span>
            <span></span>
        </div>
        <nav class="hamburger-menus" fxLayout="column" fxLayoutAlign="start center" [ngClass]="{'slideInRight':hamburger, 'slideOutRight':!hamburger}">
            <ul fxLayout="column">
                <li>
                    <a routerLink="/flowers/bouquet" (click)="hamburger=! hamburger">BOUQUET</a>
                </li>
                <li>
                    <a routerLink="flowers/vase" (click)="hamburger=! hamburger">VASE</a>
                </li>
                <li>
                    <a routerLink="flowers/seasonal" (click)="hamburger=! hamburger ">SEASONAL</a>
                </li>
                <li>
                    <a routerLink="/subscriptions" (click)="hamburger=! hamburger ">FLOWER
                        SUBSCRIPTIONS
                    </a>
                </li>
                <li>
                    <a routerLink="/workshop" (click)="hamburger=! hamburger ">WORKSHOPS</a>
                </li>
            </ul>
        </nav>
    </div>


</div>