<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="header"> Fleur de DC </div>
    <div id="navigation" class="navigation" fxLayout="row" fxLayoutAlign="space-between center">
        <nav fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.sm="end center" fxLayoutGap="3%"
            fxLayoutGap.sm="2%">
            <a href=" " style="text-decoration: none">LETTERBOX</a>
            <a href=" " style="text-decoration: none">LUXURY</a>
            <a href=" " style="text-decoration: none">OCCASIONS</a>
            <a href=" " style="text-decoration: none">LIMITED EDITION</a>
            <a href=" " style="text-decoration: none">PLANTS</a>
            <a href=" " style="text-decoration: none">FLOWER SUBSCRIPTIONS</a>
            <a href=" " style="text-decoration: none">WORKSHOPS</a>
            <a href=" " style="text-decoration: none">LONDON SAME DAY</a>
        </nav>
    </div>
</div>