@import '~normalize.css/normalize.css';
@import 'src/assets/stylesheets/color';
@import 'src/assets/stylesheets/fonts';
@import 'src/assets/stylesheets/container';

html,
body {
  font-size: 16px;
  font-family: Butler-Regular;
  color: white;
  height: 100%;
  //position: relative;
  //background: url('/src/assets/images/background.jpg');
  background: $background;
}

a {
  text-decoration: none;
}

.body {
  position: relative;
  margin-top: 100px;
  height: 100%;
  padding: 5vh 0;
}

hr {
  color: $gold;
}
