@import '~normalize.css/normalize.css';
@import 'src/assets/stylesheets/color';
@import 'src/assets/stylesheets/fonts';
@import 'src/assets/stylesheets/container';

html,
body {
  font-size: 16px;
  font-family: Butler-Regular;
  color: white;
  height: 100%;
  //position: relative;
  background: url('/src/assets/images/black.jpg');
  //background: $background;
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

.body {
  position: relative;
  margin-top: 100px;
  margin-bottom: 180px;
  height: 100%;
  padding: 5vh 0;
}

hr {
  color: $gold;
}

.title {
  font-size: 25px;
  text-align: center;
  letter-spacing: 3px;
}
