<div class="background c-gold" fxLayout="column" fxLayoutAlign="center center">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="fs-40 ta-center" style="letter-spacing: 2px;">Flower & Gift Delivery,
            Through The Letterbox</h1>
        <h2 class="ta-center" style="letter-spacing: 1px;">Shop our latest floral
            designs, plants and gifts with free next day delivery</h2>
        <button>SHOP SALE</button>
    </div>
</div>

<div class="container c-gold">
    <h3 style="text-align:center">BEST SELLER</h3>
    <div class="box-item" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <app-box fxFlex.gt-md="24" fxFlex.gt-xs="49" fxFlex.xs="100" *ngFor="let flower of flowers | slice:0:4"
            [flower]="flower"></app-box>
    </div>

</div>