@import 'src/assets/stylesheets/container';
@import 'src/assets/stylesheets/button';
@import 'src/assets/stylesheets/fonts';

/* homepage */
.jumbotron {
  width: 100%;
}

.background {
  background: url(/src/assets/images/rose.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  min-height: 100vh;
}

/* best seller */
.box-item {
  padding-bottom: 30px;
}
