<footer class="container">
    <div fxLayout="column" fxLayoutAlign="center center">
        <img src="" alt="">
        <a href="">Contact Info</a>
        <a href="">UK: 020 7352 9499</a>
        <a href="">Ireland: +353 76 888 7312</a>
    </div>
    <hr>
    <ul fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="3%">
        <li>FLOWER CARE</li>
        <li>FLOWER JOURNAL</li>
        <li>WILD AT HEART</li>
        <li>MEET OUR FLORISTS</li>
        <li>WORKSHOPS</li>
        <li>DELIVERY INFORMATION</li>
        <li>BLOOM & WILD REVIEWS</li>
        <li>FAQS</li>
        <li>CONTACT</li>
        <li>ABOUT</li>
        <li>CAREERS</li>
        <li>CODE&WILD</li>
        <li>REFER A FRIEND</li>
        <li>SITEMAP</li>
        <li>BLOOMANDWILD.FR</li>
        <li>BLOOMANDWILD.DE</li>
    </ul>
    <p fxLayoutAlign="center">2018 Bloom & Wild Limited. All rights reserved. Privacy
        policy (Terms & Conditions) Cookie Policy.</p>
</footer>