<footer class="container footer c-gold" fxLayout="column">
    <!-- <p fxLayoutAlign="center">2018 Bloom & Wild Limited. All rights reserved. Privacy
        policy (Terms & Conditions) Cookie Policy.</p> -->
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50">
            <h3>Location</h3>
            <p>Pacific Place Jakarta</p>
            <p>Jl. Jendral Sudirman No. 52-53</p>
            <p>Galleries Lafayette, Ground Floor</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="end center" fxFlex="50">
            <h3>Contact Us</h3>
            <p>denisechariesta@fleurdedc.com</p>
            <p>081991991992</p>
            <div fxLayout="row" fxLayoutGap="10px">
                <img class="icon" src="src/assets/images/instagram.svg" alt="instagram ">
                <img class="icon" src="src/assets/images/twitter.svg" alt="instagram ">
                <img class="icon" src="src/assets/images/facebook.svg" alt="instagram ">
            </div>
        </div>

    </div>
    <p fxLayoutAlign="center" fxLayout="center" style="margin-top:25px;">
        Copyright &copy; 2018 fleurdedc.com
    </p>



    <!-- <div fxLayout="column " fxLayoutAlign="end center ">
        <div fxLayout="column ">
            <p>Contact Us</p>
            <p>denisechariesta@fleurdedc.com</p>
            <p>081991991992</p>
        </div>
        <div fxLayout="row ">
            <span>A</span>
            <span>B</span>
            <span>C</span>
        </div>
    </div> -->
    <!-- <p fxLayoutAlign="center ">Copyright &copy; 2018 fleurdedc.com</p> -->
</footer>