<footer class="footer c-gold" fxLayout="column">
    <div class="container" fxLayout="row wrap" fxLayoutAlign="space-between" style="letter-spacing:1px">
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="40" fxFlex.lt-md="100"
            fxLayoutAlign.lt-md="center center">
            <h3>Location</h3>
            <p>Pacific Place Jakarta</p>
            <p>Jl. Jendral Sudirman No. 52-53</p>
            <p>Galleries Lafayette, Ground Floor</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="20" fxFlex.lt-md="100"
            fxLayoutAlign.lt-md="center center">
            <h2 style="margin:2px;letter-spacing:1.5px;">Fleur De DC</h2>
            <h4 style="margin:2px;letter-spacing:1px">Denise Chariesta</h4>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end" fxFlex="40" fxFlex.lt-md="100" fxLayoutAlign.lt-md="center center">
            <h3>Contact Us</h3>
            <p>denisechariesta@fleurdedc.com</p>
            <p>081991991992</p>
            <div fxLayout="row" fxLayoutGap="10px">
                <a href="https://www.instagram.com/fleurdedc/">
                    <img class="icon" src="src/assets/images/instagram.svg" alt="instagram ">

                </a>
                <a href="https://www.facebook.com/fleurdedc/">
                    <img class="icon" src="src/assets/images/facebook.svg" alt="facebook ">

                </a>
                <img class="icon" src="src/assets/images/twitter.svg" alt="twitter ">
            </div>
        </div>
    </div>
    <div class="container" fxLayout="row" fxLayoutAlign="center center" style="letter-spacing: 1px; border-top: 1px solid rgb(197, 162, 110); margin-top: 8px;">
        <p style="padding-top: 6px;">Copyright &copy; 2018 fleurdedc.com</p>
    </div>


    <!-- <p fxLayoutAlign="center ">Copyright &copy; 2018 fleurdedc.com</p> -->
</footer>