@import 'src/assets/stylesheets/container';

ul {
  margin: 0 auto;
  list-style: none;
  padding: 16px;
}

.icon {
  height: 20px;
  width: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  //height: 170px;
  background: url('/src/assets/images/leaf.jpg') repeat;
}
