@import 'src/assets/stylesheets/color';

button {
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  color: $gold;
  background-color: #222;
  border-color: $brokenwhite;
  border: 1px solid $gold;
}
