$blue: rgb(50, 100, 250);
$red: rgb(200, 20, 30);
$gray: rgb(51, 51, 51);
$white: rgb(255, 255, 255);
$background: rgb(14, 17, 17);
$gold: rgb(197, 162, 110);
$brokenwhite: rgb(242, 242, 242);

.c-gold {
  color: $gold;
}
