@import 'src/assets/stylesheets/color';

/* Fonts */
@font-face {
  font-family: 'Butler-Regular';
  src: url('/src/assets/fonts/Butler_Regular.otf');
}

/* position*/
.ta-center {
  text-align: center;
}

p {
  margin: 0;
  line-height: 25px;
}

/* font size */
.fs-40 {
  font-size: 40px;
  margin: 0;
  line-height: 40px;
}

.fs-35 {
  font-size: 35px;
  margin: 0;
  line-height: 40px;
}

.fs-30 {
  font-size: 30px;
  margin: 0;
  line-height: 40px;
}
